
<% if !user_signed_in? %>
  <%= link_to "sign in", new_user_session_path  %>
  <%= link_to "Sign up", new_user_registration_path %>
<% else %>
  <%= link_to "Sign out", destroy_user_session_path, method: :delete %>
  Signed in as <%= current_user.email %>
  <%= link_to "Cart", current_user.current_cart unless current_user.current_cart.nil? %>
<% end %>

<% @categories.each do |category| %>
  <%= link_to category.title, category %>
<% end %>

<% @items.each do |item| %>
  <p><%= item.title %> | <%= number_to_currency(item.price.to_f/100) %> | <%= button_to 'Add to Cart', line_items_path(item_id: item) %></p>
<% end %>
